@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}
body {
    min-height: 100vh;
    display: flex;
}

.left {
    background-image: url('bg-image.jpg');
}

.logo-container {
    font-family: Norse-Bold;
    font-size: 120px;
    padding: 0 300px 0 180px;
    margin-top: 330px;
    color: white;
    background-color: rgba(5,5,5,0.5);
    display: flex;
    align-items: center;
}

img {
    width: 120px;
    display: inline;
}

.paragraph-container {
    font-size: 28px;
    font-weight: bold;
    padding: 250px 280px 60px 50px; 
    background-color: #f9f9f9;
}

.paragraph-container :first-child {
    margin-bottom: 36px;
}

.form-container {
    padding: 12px 300px 12px 50px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 16px 0;
}

input {
    display: block;
    width: 300px;
    height: 40px;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

label {
    letter-spacing: 2px;
    font-weight: 100;
}

input[type='password']:invalid  {
    border-color: red;
}

input:focus {
    border-color: blue;
}